 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: crimson;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.white {
    color: white;
    text-align: center;
}

.crimson {
    color: crimson;
    text-align: center;
}

.pad-5 {
    padding: 5px;
}

.bg-white {
    background-color: white;
    border-radius: 5px;
    /* display: flex;
    justify-content: space-around; */
    padding: 30px 20px;
    margin-top: 30px;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.outline {
    border: 1px solid crimson;
    border-radius: 5px;
    line-height: 25px;
    padding: 5px;
    margin-top: 10px;
    text-align: justify;
}

.text-center {
    text-align: center;
}

.padtop-30 {
    padding-top: 30px;
}

.bg-grey {
    background-color: grey;
}

.bigbox {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}